<!DOCTYPE html>
<html lang="en" ng-app="addNew">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>News</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="CheckNewController">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Back</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-show="{{ window.localStorage.hasNew }}">
                        <a href="">New <span class="badge">{{ window.localStorage.numNewPosts }}</span></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" ng-controller="addNewCtr as Add">
		<h1>
			Add news
		</h1>
        <form ng-submit="Add.addNewsToStorage()">
		  <div class="form-group">
		    <label for="title">Title</label>
		    <input ng-model="Add.post.title" type="text" class="form-control" id="title" value="Title" placeholder="Title">
		  </div>
          <div class="form-group">
            <label for="title">Author</label>
            <input ng-model="Add.post.author" type="text" class="form-control" id="author" value="Author" placeholder="Author">
          </div>
		  <div class="form-group">
		    <label for="exampleTextarea">News content</label>
		    <textarea ng-model="Add.post.content" class="form-control" placeholder="Content" value="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum." id="exampleTextarea" rows="13"></textarea>
		  </div>
          <div class="form-group">
            <label for="exampleTextarea">ImageUrl</label>
            <input type="text" ng-model="Add.post.imgUrl" class="form-control" placeholder="ImageUrl" value="http://placehold.it/1700x500" id="imgUrl">
          </div>
          <input type="hidden" ng-model="post.published" id="published" name="published">
		  <button type="submit" class="btn btn-success">Publish</button>
		</form>
        <hr>
        <h1>Preview</h1>
        <div class="col-lg-12 jumbotron">
                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{ Add.post.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">{{ Add.post.author }}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ Add.post.date | date }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" ng-src="{{ Add.post.imgUrl }}" alt="Post Image">

                <hr>

                <!-- Post Content -->
                <p class="lead">{{ Add.post.content }}</p>


                <!-- Blog Comments -->

            </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Kirill Tovpinets 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/addNews.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
